:root {
  --color-white: #fff;
  --color-off-white: rgb(228, 228, 228);
  --color-primary: #1b3c5e;
  --color-secondary: #ff0070;
  --color-dark-gray: #768394;
  --color-light-blue: #ddeefb;
  --color-light-gray: #e0e5ec;

  --color-error: var(--color-secondary);

  /* credit card brand colors */
  --color-visa: #1a1f71;
  --color-amex: #2e77bc;
  --color-mastercard: #eb001b;
  --color-discover: #ff6600;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url(../public/fonts/Hubot-Sans.woff2) format('woff2 supports variations'),
    url(../public/fonts/Hubot-Sans.woff2) format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hubot Sans', sans-serif;
  font-weight: 400;
  color: var(--color-primary);
  background: var(--color-light-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
}
section {
  width: 100%;
}
label {
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
}
input[type='text'],
input[type='number'] {
  appearance: none;
  padding: 0.9rem;
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: 2px solid var(--color-light-gray);
  font-size: 1.4rem;
  color: var(--color-dark-gray);
  transition: color 0.25s ease-out, border 0.25s ease-out;
}

input[type='text']:focus,
input[type='number']:focus {
  outline: none;
  color: var(--color-primary);
  border-color: var(--color-dark-gray);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='15px' fill='%23768394' xmlns='http://www.w3.org/2000/svg' x='0' y='0' style='enable-background:new 0 0 330 330' version='1.1' viewBox='0 0 330 330'%3E%3Cpath id='XMLID_225_' d='M325.607 79.393c-5.857-5.857-15.355-5.858-21.213.001l-139.39 139.393L25.607 79.393c-5.857-5.857-15.355-5.858-21.213.001-5.858 5.858-5.858 15.355 0 21.213l150.004 150a14.999 14.999 0 0 0 21.212-.001l149.996-150c5.859-5.857 5.859-15.355.001-21.213z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%, 0 0;
  padding: 0.9rem 3rem 0.9rem 0.9rem;
  border-radius: 6px;
  outline: none;
  border: 2px solid var(--color-light-gray);
  font-size: 1rem;
  color: var(--color-dark-gray);
  transition: color 0.25s ease-out, border 0.25s ease-out;
}
