:root {
  --color-white: #fff;
  --color-off-white: rgb(228, 228, 228);
  --color-primary: #1b3c5e;
  --color-secondary: #ff0070;
  --color-dark-gray: #768394;
  --color-light-blue: #ddeefb;
  --color-input-outline: #e0e5ec;

  --color-error: var(--color-secondary);

  /* credit card brand colors */
  --color-visa: #1a1f71;
  --color-american-express: #2e77bc;
  --color-mastercard: #eb001b;
  --color-discover: #ff6600;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url(../public/fonts/Hubot-Sans.woff2) format('woff2 supports variations'),
    url(../public/fonts/Hubot-Sans.woff2) format('woff2-variations');
  font-weight: 200 400 500 700 900;
  font-stretch: 75% 125%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hubot Sans', sans-serif;
  font-weight: 400;
  color: var(--color-primary);
  background: var(--color-light-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
section {
  width: 100%;
}
label {
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
  font-family: ;
}
input[type='text'] {
  padding: 1rem;
  border-radius: 6px;
  outline: none;
  border: 2px solid var(--color-input-outline);
  font-size: 1.75rem;
  color: var(--color-dark-gray);
  transition: color 0.25s ease-out, border 0.25s ease-out;
}
input[type='text']:focus {
  outline: none;
  color: var(--color-primary);
  border-color: var(--color-dark-gray);
}
